/*---------------------
 * Some debugging info
 * --------------------*/
div.rss_debug {
    display: none;
}

/*-----------------
 *
 * G L O B A L
 *
 * ---------------*/
html {
    overflow: hidden;
}

body {
    font: 85% "lucida grande", Tahoma, Verdana, Arial, Helvetica, sans-serif;
    color: #323232 !important;
    text-align: left;
    overflow: hidden;
    height: 100%;
}

input, select {
    margin-left: 5px;
}

select {
    border: 1px solid #787878;
}

input[type=text] {
    border: 1px solid #787878;
    margin-left: 5px;
}

input[type=password] {
    border: 1px solid #787878;
    margin-left: 5px;
}

input[type=hidden] {
    display: none;
}

input[type=checkbox] {
    margin-top: 2px;
}

label {
    display: inline;
    font-size: 0.9em;
    margin-left: 5px;
}

div.left,
div.right {
    display: inline-block;
}

div.left {
    text-align: right;
}

div.right {
    text-align: left;
}

label.category {
    display: block;
    font-size: 1.0em;
    margin: 1em 0 1em 1em;
    font-weight: bold;
}

.hidden {
    display: none;
}

/*-----------------
 *
 * T O P   M E N U
 *
 * ----------------*/

div#topmenu {
    height: 59px;
    width: 100%;
    position: fixed;
    text-align: right;
    border: 1px solid #aaa;
    border-top: 0;
    background: #ddd;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#EEEEEE,endColorstr=#BBBBBB)";
    background:	-webkit-gradient(linear, left top, left bottom, from(#eee), to(#bbb));
    background:	-moz-linear-gradient(top, #eee, #bbb);
    z-index: 3;
}

img#topLogo {
    vertical-align: middle;
}

ul.mainoptions li {
    list-style:	none inside none;
    display: block;
    float: left;
    padding-top: 3px;
    margin-right: 0px;
}

ul.mainoptions li a {
    display: block;
    margin: 0px 0px 0px 10px;
    padding: 2px 5px 2px 5px;
    height: 16px;
    text-decoration:none;
    color: #111;
    font-size: 8pt;
    border: 1px solid #d5d5d5;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    border-radius: 1px;
    -moz-border-radius: 1px;
}

ul.mainoptions li a:hover {
    border: 1px solid #c0c0c0;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background: #E8E8E8;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e8e8e8,endColorstr=#CCCCCC)";
    background: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#ccc));
    background:-moz-linear-gradient(top, #e8e8e8, #ccc);
}

ul.mainoptions li a.selected {
    border: 1px solid #888;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    background: #ccc;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e8e8e8,endColorstr=#c8c8c8)";
    background: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#c8c8c8));
    background: -moz-linear-gradient(top, #e8e8e8, #c8c8c8);
}

ul.mainoptions li#webui {
    display: none;
    float: right;
    margin-right: 10px;
}

ul.mainoptions li a .icon {
    display:			block;
    height:				16px;
    width:				16px;
    margin-right:			2px;
    background-repeat:		no-repeat;
    float:				left;
}

ul.mainoptions li#favoritesMenu a .icon {
    /*background: url(../images/favorites.png) no-repeat left center;*/
}
ul.mainoptions li#config a .icon {
    /*background: url(../images/config.png) no-repeat left center;*/
}
ul.mainoptions li#view a .icon {
    /*background: url(../images/history.png) no-repeat left center;*/
}
ul.mainoptions li#empty a .icon { 
    /*background: url(../images/cleanup.png) no-repeat left center;*/
}
ul.mainoptions li#legend a .icon {
    /*background: url(../images/legend.png) no-repeat left center;*/
}
ul.mainoptions li#webui a .icon {
    background-image: url(../images/webui.png);
}
ul.mainoptions li#webui a .altIcon {
    background-image: url(../images/ajax-loader-small.gif);
}

/*-----------------
 *
 * F I L T E R   B A R
 *
 * ---------------*/

ul#filterbar_container {
    top: 29px;
    position: fixed;
    height: 30px;
    left: 0;
    right: 0;
    padding-left: 10px;
}

ul#filterbar_container li.tab:hover {
    width: 90px;
}

ul#filterbar_container li.selected:hover,
ul#filterbar_container li.tab {
    width: 91px;
}

ul#filterbar_container li {
    float: left;
    margin-top: 2px;
    padding: 4px 7px 0 7px;
    /*border: 1px solid #CACACA;
    border-top: 1px solid #bAbAbA;*/
    height: 18px;
    text-align: center;
    font-size: 11px;
    background: #CCC;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#EEEEEE,endColorstr=#AAAAAA)";
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#aaa));
    background: -moz-linear-gradient(top, #eee, #aaa);
    border-top: 1px solid #f5f5f5;
    border-left: 0;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    color: #111;
    cursor: pointer;
}

ul#filterbar_container li:hover {
    background: #DDD;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e1e1e1,endColorstr=#b0b0b0)";
    background: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#b0b0b0));
    background: -moz-linear-gradient(top, #e1e1e1, #b0b0b0);
    border: 1px solid #b6b6b6;
    border-right: 1px solid #c5c5c5;
    border-bottom: 1px solid #ccc;
    height: 19px;
}

ul#filterbar_container li.selected:hover,
ul#filterbar_container li.selected {
    border-top: 1px solid #888;
    border-left: 0;
    background: #BBB;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#d5d5d5,endColorstr=#999999)";
    background: -webkit-gradient(linear, left top, left bottom, from(#d5d5d5), to(#999));
    background: -moz-linear-gradient(top, #d5d5d5, #999);
    border: 1px solid #777;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #d3d3d3;
    border-bottom-left-radius: 1px;
    -moz-border-radius-bottomleft: 1px;
    border-bottom-right-radius: 1px;
    -moz-border-radius-bottomright: 1px;
    height: 19px;
}

ul#filterbar_container li#refresh {
    width: 20px;
    padding-left: 4px;
    padding-right: 4px;
}

ul#filterbar_container li#refresh:hover {
    padding-left: 3px;
}

ul#filterbar_container li#refresh img {
    margin-top: -1px;
}

ul#filterbar_container li.filter_left:hover,
ul#filterbar_container li.filter_left {
    border-left:			1px solid #bbb;
    border-top-left-radius: 		1px;
    -moz-border-radius-topleft: 	1px;
    border-bottom-left-radius: 		1px;
    -moz-border-radius-bottomleft: 	1px;
}

ul#filterbar_container li.filter_left:hover,
ul#filterbar_container li.filter_left.selected {
    border-left:		2px solid #aaa;
}

ul#filterbar_container li.filter_right {
    border-top-right-radius:		1px;
    -moz-border-radius-topright: 	1px;
    border-bottom-right-radius:		1px;
    -moz-border-radius-bottomright:	1px;
}

ul#filterbar_container li a {
    text-decoration: none;
    color: #111;
}

ul#filterbar_container li.selected a {
    color: #111;
}

ul#filterbar_container li a.error {
    color: red;
}

ul#filterbar_container span#Matching,
ul#filterbar_container span#Downloaded,
ul#filterbar_container span#Downloading,
ul#filterbar_container span#activeTorrents {
    padding-left: 0.4em; 
    font-size: 0.8em;
}

ul#filterbar_container li#rates:hover,
ul#filterbar_container li#rates {
    filter: 0;
    background: none;
    margin-left: 10px;
    padding: 0;
    border: 0;
    float: left;
    font-size: 9px;
    text-align: left;
    color: #111;
}

ul#filterbar_container li#filter_bytext:hover,
ul#filterbar_container li#filter_bytext {
    filter: 0;
    background: none;
    float: right;
    margin: 0;
    padding: 4px 5px 0 0;
    border: 0;
    font-size: 0.8em;
}

input#filter_search_input {
    float: right;
    height: 17px;
    width: 200px;
    border: 1px solid #5D80A1;
    border-radius: 2px;
    -moz-border-radius: 2px;
    /* background: #FFF url('../images/filter_icon.png') left no-repeat;
    padding: 1px 2px 2px 20px; */
    padding: 1px 2px 2px 1px;
    margin: 1px 5px 1px 0;
}

/*----------------------------------------
 *
 * C L I E N T   B U T T O N S 
 *
 *---------------------------------------*/

div#clientButtonsHolder {
    display: none;
    position: fixed;
    top: 72px;
    right: 20px;
    min-height: 28px;
    font-size: 12px;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D3D3D3,endColorstr=#F8F8F8)";
    background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
    background:	-moz-linear-gradient(top, #D3D3D3, #F8F8F8);
    background: #ddd;
    opacity: .90;
    filter: alpha(opacity = 90);
    border: 1px solid #aaa;
    border-radius: 4px;
    -moz-border-radius: 4px;
    z-index: 3;
}

ul#clientButtons {
    height: 100%;
    background: #ddd;
    padding-left: 10px;
    padding-right: 5px;
}

div#clientButtonsBusy {
    margin-top: 5px;
    font-size: 14px;
}

div#clientButtonsBusy img {
    float: left;
    cursor: pointer;
    margin-right: 5px;
}
ul#clientButtons li {
    float: left;
    cursor: pointer;
    margin-top: 3px;
    margin-right: 5px;
}

ul#clientButtons li img {
    opacity: .80;
    filter: alpha(opacity=80);
}

ul#clientButtons li#Move {
    padding: 1px 4px 0 4px;
    font-size: 14px;
    height: 19px;
}

ul#clientButtons li.move_data input {
    border: 1px solid #aaa;
    border-radius: 2px;
    -moz-border-radius: 2px;
    font-size: 12px;
    height: 20px;
    width: 300px;
    margin: 0 0 3px 0;
    padding: 0 5px 0 3px;
}

ul#clientButtons li.button {
    height: 20px;
    border: 1px solid #aaa;
    border-radius: 3px;
    -moz-border-radius: 3px;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    font-size: 11px;
    color: #323232;
    padding: 0px 5px 0px 5px;
}

ul#clientButtons li.disabled,
ul#clientButtons li.disabled:hover {
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    background-color: transparent;
    cursor: default;
    opacity: .30;
    filter: alpha(opacity=30);
}

ul#clientButtons li.button:hover:not(.disabled) {
    background-color: #D1D1D1;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
}

/*------------
 *
 * L E G E N D
 *
 *------------*/

div#legendDialog .dialogTitle {
    padding-top: 2px;
    width: 470px;
}

div#show_legend {
    padding-top: 5px;
    border-top: 1px solid #979797;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D3D3D3,endColorstr=#F8F8F8)";
    background: -webkit-gradient(linear, left top, left bottom, from(#D3D3D3), to(#F8F8F8));
    background:	-moz-linear-gradient(top, #D3D3D3, #F8F8F8);
}

ul.show_legend {
    border: 1px solid #979797;
}

ul.show_legend li {
    padding: 5px 5px 5px 5px;
    font-size: 12px;
}

/*------------
 *
 * E P I S O D E
 *
 *------------*/

div#episodeDialog .dialogTitle {
    padding-top: 2px;
    width: 740px;
    margin-left: -350px;
}

div#show_episode {
    width: 730px;
    margin-left: -350px;
    padding-top: 5px;
    border-top: 1px solid #979797;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D3D3D3,endColorstr=#F8F8F8)";
    background: -webkit-gradient(linear, left top, left bottom, from(#D3D3D3), to(#F8F8F8));
    background:	-moz-linear-gradient(top, #D3D3D3, #F8F8F8);
}

div#show_episode h1 {
    font-size: 18px;
    font-weight:bold;
    padding-bottom:5px;
}

div#show_episode td {
    vertical-align: top;
}

div#show_episode strong {
    font-weight:bold;
}
div#show_episode .text {
    font-size: 16px;
}
div#show_episode .firstletter {
    font-size: 20px;
}

/*-------------------------
 *
 * T O R R E N T   L I S T
 *
 * ------------------------*/

div#torrentlist_container {
    display: none;
    position: absolute;
    overflow: auto;
    width: 100%;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-user-select: none;
}

div#torrentlist_container div.errorHeader {
    font-size: 14px;
    text-align: center;
    padding-bottom: 3px;
    background: #C1E0C1;
    color: #D6001A;
    border-bottom: 1px solid #ddd;
}

div#torrentlist_container div.header {
    font-size: 14px;
    padding-bottom: 3px;
    text-align: center;
    /*background: #C1E0C1;*/
    background: #D1F0D1;
}

div.transmission #waiting {
    text-align: center;
}
div#torrentlist_container div.header_hidden {
    border-bottom: 0px;
    color: #999;
}

div#torrentlist_container div.header td.hide_feed {
    text-align: center;
    width: 18px;
}

div#torrentlist_container div.header td.feed_title {
    text-align: center;
}

div#torrentlist_container div.header td.feed_title span.matches {
    color: #666;
    margin-left: 0.5em;
    font-size: 12px;
}

div#torrentlist_container div.header_hidden td.feed_title span {
    color: #999;
}

div#torrentlist_container ul.torrentlist {	
    border-bottom: 1px solid #CCCCCC;
}

ul.torrentlist li.torrent {
    font-size: 12px;
    min-height: 15px;
}

ul#transmission_list td.torrent_name {
    padding-left: 5px;
}

#torrentlist_container li.torrent.alt {
    /*background-color: #F0F1F2;*/
    background-color: #fcfefd;
}

#torrentlist_container li.torrent:hover,
ul#transmission_list li.alt td.torrent_name:hover {
    background-color: #E1E9F5;
}

#torrentlist_container li.selected td.torrent_name,
#torrentlist_container li.selected td.torrent_name:hover,
#torrentlist_container li.alt.selected td.torrent_name,
#torrentlist_container li.alt.selected td.torrent_name:hover {
    background-color: #778DA8;
    color: #FFFFFF;
}

li.torrent.hidden_bytext {
    display: none;
}

/* Paused */
div#show_legend li.legend.paused,
ul#transmission_list li.torrent.paused .tr_identifier {
    background-color: #FBBFBF;
}

/* Downloading */
ul#transmission_list li.torrent.downloading .tr_identifier {
    background-color: #c1e0c1;
}

/* Verifying */
ul#transmission_list li.torrent.verifying .tr_identifier {
    background-color: #d8a8d8;
}

/* Waiting */
ul#transmission_list li.torrent.waiting .tr_identifier {
    background-color: #ffffbb;
}

ul.torrentlist td.buttons {
    vertical-align: middle;
    padding: 3px 0 2px 0;
    width: 15px;
    height: 15px;
}

ul.torrentlist td.identifier {
    width: 5px;
}

ul.torrentlist td.tr_identifier {
    width: 5px;
}

/* Not a Match */
div#show_legend li.legend.match_notAMatch,
ul.torrentlist li.match_notAMatch td.identifier {
    background-color: #f2f2f2;
}

/* Favorite Batch */
div#show_legend li.legend.match_favBatch,
ul.torrentlist li.match_favBatch td.identifier {
    background-color: #e1eafc;
}

/* Old Favorite */
div#show_legend li.legend.match_favTooOld,
ul.torrentlist li.match_favTooOld td.identifier {
    background-color: #a9b4ff;
}

/* Favorite Ready */
div#show_legend li.legend.match_favReady,
ul.torrentlist li.match_favReady td.identifier {
    background-color: #ffc166;
}

/* Favorite Started */
div#show_legend li.legend.match_favStarted,
ul.torrentlist li.match_favStarted td.identifier {
    background-color: #d8a8d8;
}

/* Waiting */
div#show_legend li.legend.match_waitTorCheck,
ul.torrentlist li.match_waitTorCheck td.identifier {
    background-color: #ffffbb;
}

/* cachehit for possible merge into downloaded */
div#show_legend li.legend.match_cachehit,
ul.torrentlist li.match_cachehit td.identifier {
    background-color: #E9CFFF;
}

/* Downloading */
div#show_legend li.legend.match_downloading,
ul.torrentlist li.match_downloading td.identifier {
    background-color: #a1e0c1;
}

/* Downloaded / Seeding */
div#show_legend li.legend.match_downloaded,
ul.torrentlist li.match_downloaded td.identifier,
ul.torrentlist li.match_transmission td.tr_identifier {
    background-color: #d1e9d1; /* was #c1e0c1 */
}

/* Previously Downloaded */
/*div#show_legend li.legend.match_duplicate,
ul.torrentlist li.match_duplicate td.identifier {
    background-color: #88b4ff;
}*/

/* Previously Downloaded */
div#show_legend li.legend.match_inCacheNotActive,
ul.torrentlist li.match_inCacheNotActive td.identifier {
    background-color: #bbb;
}

ul.torrentlist td.torrent_name {
    padding: 2px 5px 2px 5px;
}

ul.torrentlist li.match_notAMatch td.torrent_name {
    vertical-align: middle;
    margin: 0;
    height: 15px;
}

ul.torrentlist td.torrent_name.tor_client {
    padding: 2px 8px 0 0;
}

ul.torrentlist div.infoDiv {
    height: 12px;
    display: block;
    color: green;
    font-size: 9px;
    margin: 2px 0 0 0;
    width: 100%;
}

#torrentlist_container li.selected div.infoDiv {
    color: #FFFFFF;
}

ul.torrentlist .torInfo {
    float: left;
}

ul.torrentlist .torEta {
    float: right;
}

ul.torrentlist .torInfoErr {
    color: red;
    font-size: 9px;
    margin: 1px 0 1px 0;
}

div.torrent_name a.contextButton {
    background: #F0F0F0;
    background-image: url('../images/dropdown.png');
    background-repeat: no-repeat;
    background-position: 0 2px;
    float: left;
    border: 1px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 0;
    margin: 2px 5px 0 0;
    width: 11px;
    height: 10px;
}

div.contextMenu {
    display: none;
    position: absolute;
    margin: 1px 0 0 0;
    border: 1px solid #888;
    border-radius: 3px;
    -moz-border-radius: 3px;
    background: #EEE;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F8F8F8,endColorstr=#DDDDDD)";
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#ddd));
    background: -moz-linear-gradient(top, #f8f8f8, #ddd);
    font-size: 0.9em;
    opacity: .95;
    filter: alpha(opacity = 95);
    z-index: 2;
}

div.contextMenu div {
    padding: 1px 3px 1px 15px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

div.contextMenu .contextItem.alt {
    background-color: #BFCEE3;
}

div.contextMenu .addFavorite {
    background: url(../images/tor_fav_10x10.png) no-repeat left center;
    background-position: 2px 3px;
}
div.contextMenu .dlTorrent {
    background: url(../images/tor_start_10x10.png) no-repeat left center;
    background-position: 2px 3px;
}
div.contextMenu .hideItem {
    background: url(../images/tor_hide_10x10.png) no-repeat left center;
    background-position: 2px 3px;
}
div.contextMenu .torStart {
    background: url(../images/tor_start_10x10.png) no-repeat left center;
    background-position: 2px 3px;
}
div.contextMenu .torPause {
    background: url(../images/tor_pause_10x10.png) no-repeat left center;
    background-position: 2px 3px;
}
div.contextMenu .torDelete {
    background: url(../images/tor_stop_10x10.png) no-repeat left center;
    background-position: 2px 3px;
}
div.contextMenu .torTrash {
    background: url(../images/tor_trash_10x10.png) no-repeat left center;
    background-position: 2px 3px;
}
div.contextMenu .torMove {
    background: url(../images/tor_move_10x10.png) no-repeat left center;
    background-position: 2px 3px;
}
div.contextMenu .episodeInfo {
    background: url(../images/tv_icon.png) no-repeat left center;
    background-position: 2px 3px;
}

td.torrent_name {
    font-size: 12px;
    vertical-align: top;
    padding-left: 5px;
}

td.progressRow {
    background: #C1E0C1;
}

div.progressBarContainer {
    display: block;
    border: 1px solid #BFCEE3;
    background: #DFE3E8;
    margin-top: 2px;
}

div.progressBarContainer.init {
    border: none;
    background: none;
}

div.progressDiv {
    height: 3px;
    background: #91A4BD;
}

td.feed_info {
    float: right;
    text-align: right;
    padding-right: 2px;
    margin-top: 5px;
    vertical-align: middle;
}

div.tr_bar {
    float: right;
    padding: 4px 30px 0 0;
    vertical-align: middle;
}

div.feed_info p {
    padding: 0;
    /* font-size: 0.8em; */
}

div.torrent_name {
    display: block;
    padding: 0;
    height: 15px;
    width: 100%;
}

div.torrent_name span.torrent_title {
    float: left;
}

span.feed_name {
    float: left;
    padding: 1px 3px 0 0;
    font-size: 9px;
    color: #777777;
}

span.torrent_pubDate {
    float: right;
    padding-top: 2px;
    font-size: 10px;
}    

span.hide_item img {
    border: 1px solid #b0b0b0;
}

div.header span.hide_feed_left,
div.header span.hide_feed_right {
    margin: 5px 0 5px 0;
    background: url(../images/arrow.png) no-repeat left center;
}

div.header_hidden span.hide_feed_left {
    background: url(../images/arrow-right.png) no-repeat left center;
}

div.header_hidden span.hide_feed_right {
    background: url(../images/arrow-left.png) no-repeat left center;
}

div#footer {
    padding: 2px;
    background-color: #DDD;
    font-size: 0.8em;
    text-align: center;
}

img#footerLogo {
    vertical-align: middle;
}

div#donate {
    padding-top: 3px;
    text-align: center;
}

/*-----------------------------
 *
 * T O R R E N T   C L I E N T
 *
 * ----------------------------*/

div#transmissionDialog {
    display: inline;
}

div#transmissionDialog .dialogTitle {
    padding-top: 2px;
    top: 50px;
    width: 800px;
    margin-left: -400px;
}

div#transmissionWindow {
    width: 800px;
    height: 550px;
    top: 71px;
    margin-left: -400px;
    padding: 0;
    border: 1px solid #979797;
}

#transmissionFrame {
    width: 800px;
    height: 550px;
}


/*--------------------------
 *
 * D I A L O G S
 *
 * ---------------------*/

div.dialog {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 29px;
    bottom: 0px;
    background: transparent;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000)";
    zoom: 1;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: wait;
    padding-top: 60px;
    border-top: 1px solid #000;
    z-index: 4;
}

div.dialog.confirm {
    top: 0;
}

div.dialog_window {
    position: fixed; 
    margin-right: auto;
    left: 50%;
    background-color: #DDD;
    margin: -0.2em auto 0 auto;
    border-left: 1px solid #979797;
    border-right: 1px solid #979797;
    border-bottom: 1px solid #979797;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    top: 140px;
    width: 460px;
    margin-left: -230px;
    padding: 0 5px 5px 5px;
    cursor: default;
    z-index: 5;
}

div.welcome,
#clientError,
#welcome_form {
    display: none;
}

.dialogTitle a.button {
    float: left;
    height: 9px;
    width: 9px;
    padding: 0;
    margin: 1px 3px 2px 3px;
    background: #999;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#AAAAAA,endColorstr=#777777)";
    background: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#777));
    background: -moz-linear-gradient(top, #aaa, #777);
    cursor: default;
}

div.dialog .dialogTitle {
    position: fixed; 
    font-size: 8pt;
    padding: 2px 0 2px 0;
    text-align: center;
    margin-left: -230px;
    background-color: #aaa;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCCCCC,endColorstr=#AAAAAA)";
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#aaa));
    background: -moz-linear-gradient(top, #ccc, #aaa);
    border: 1px solid #979797;
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    color: #000;
    text-shadow: #eee 0px 1px 0px;
    top: 118px;
    height: 15px;
    left: 50%;
    cursor: default;
}

div#clear_cache {
    position: fixed;
    width: 320px;
    margin-left: -160px;
    text-align: center;
    border-top: 1px solid #979797;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCCCCC,endColorstr=#F8F8F8)";
    background: -webkit-gradient(linear, left top, left bottom, from(#CCC), to(#F8F8F8));
    background:	-moz-linear-gradient(top, #CCC, #F8F8F8);
}

div#trash_tor_data {
    position: absolute;
    font-size: 0.85em;
    width: 300px;
    padding-top: 5px;
    margin-left: -150px;
    text-align: center;
    border: 1px solid #979797;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BBBBBB,endColorstr=#EEEEEE)";
    background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#eee));
    background:	-moz-linear-gradient(top, #bbb, #eee);
}

div#trash_tor_data .buttonContainer {
    font-size: 12px;
    margin-right: 18px;
}

div#trash_tor_data .buttonContainer a.wide {
    width: 110px;
}

div#cacheDialog .dialogTitle {
    padding-top: 2px;
    margin-left: -160px;
    width: 330px;
}

h2.dialog_heading {
    font-size: 1.3em;
    text-align: center;
}

div.buttonContainer {
    margin-top: 2px;
    float: right;
}

a.button,
input[type=submit] {
    float: right;
    margin: 5px 6px 0 0;
    padding: 0.5em;
    background-color: #EEE;
    border: 1px solid #787878;
    font-size: 0.8em;
    color: #323232;
    clear: left;
    cursor: pointer;
}

a.button {
    width: 50px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 8px;    /* for Safari */
    -moz-border-radius: 8px;       /* for Firefox */
    background:	#ccc;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDDDDD,endColorstr=#AAAAAA)";
    background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#aaa));
    background:	-moz-linear-gradient(top, #ddd, #aaa);
    color: #030303;
}

a.button:hover{
    background: #9DACC1;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BBBBBB,endColorstr=#EEEEEE)";
    background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#eee));
    background: -moz-linear-gradient(top, #bbb, #eee);
}

a.disabled,
a.disabled:hover {
    background: #9DACC1;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCCCCC,endColorstr=#999999)";
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
    background:	-moz-linear-gradient(top, #ccc, #999);
    color: #ddd;
}
input[type=submit] {
    width: 62px;
    height: 28px;
}

div.legend input {
    clear: left;
}

div#clientError {
    top: 0px;
    text-align: center;
    width: 350px;
    margin-left: 80px;
    color: red;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#EEEEEE,endColorstr=#BBBBBB)";
    background:	-webkit-gradient(linear, left top, left bottom, from(#eee), to(#bbb));
    background:	-moz-linear-gradient(top, #eee, #bbb);
    z-index: 100; 
}

div#clientError p {
    margin-top: 4px;
}

div#clientError h2 {
    font-weight: bold;
    color: red;
    margin-bottom: 4px;
}

div#errorDialog {
    top: 60px;
    color: red;
    background-color: #bbb;
    text-align: center;
    width: 650px;
    margin-left: -310px;
    z-index: 100; 
}

div#successDialog {
    top: 55px;
    color: green;
    border: 1px solid green;
    text-align: center;
    width: 600px;
    margin-left: -310px;
    z-index: 100; 
}

div#newVersion {
    top: 0px;
    text-align: center;
    padding-top: 5px;
    width: 450px;
    margin-left: 25px;
    color: green;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#EEEEEE,endColorstr=#BBBBBB)";
    background:	-webkit-gradient(linear, left top, left bottom, from(#eee), to(#bbb));
    background:	-moz-linear-gradient(top, #eee, #bbb);
    z-index: 100; 
}

div#newVersion a {
    color: green;
}

div#twError {
    display: none;
    top: 60px;
    color: red;
    background-color: #bbb;
    text-align: center;
    z-index: 1; 
    border-color: #AAA;
}

/********************************
 *
 * W I Z A R D   D I A L O G S
 *
 *******************************/
div.welcome {
    margin: -0.2em auto 0 -300px;
    width: 600px;
    border: 3px solid #979797;
    z-index: 2;
}

div.welcome input {
    clear: left;
}

div#welcome1 label,
div#welcome5 label {
    margin-top: 0.2em;
    display: block;
}

div.form_radio {
    padding-left: 10px;
}

div.form_input {
    margin: 10px 0 10px 20px;
}

div.form_input input.form_downdir[type=text] {
    width: 200px;
    margin-left: 12px;
}

div#welcome5 input.form_email[type=text] {
    width: 300px;
    margin: 10px 0 10px 12px;
}


/***************************
 *
 * P R O G R E S S   B A R
 *
 ***************************/

.progress {
    position:           absolute;
    left:               0px;
    right:              0px;
    top:                0px;
    bottom:             0px;
    padding-top:        60px;
    cursor:             wait;
    z-index: 99;
}

.progress_full { 
    z-index:		99;
    background:transparent;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000)";
    zoom: 1;
    background-color:   rgba(0, 0, 0, 0.7);
    z-index: 99;
}

#progressbar {
    background: #DBDBDB url('../images/ajaxload.gif') no-repeat center bottom;
    border-top: 1px solid #979797;
    border-top-left-radius:     5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius:    5px;
    -moz-border-radius-topright: 5px;
    display: block;
    height: 14px;
    top: 155px;
    overflow: hidden;
    width: 250px;
    z-index: 99;
    margin-left: -125px;
}

/*****************************
 *
 * C O N F I G   D I A L O G 
 *
 ****************************/

div#configTabs {
    height: 26px;
    border-bottom: 1px solid #979797;
} 

div#configTabs ul {
    margin: 0 0 0 0;
    padding: 2px 0px 2px 0px;
    text-align: center;
}

div#configTabs li:hover {
    background: #9DACC1;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDDDDD,endColorstr=#BBBBBB)";
    background: -webkit-gradient(linear, left top, left bottom, from(#DDD), to(#BBB));
    background:	-moz-linear-gradient(top, #DDD, #BBB);
    color: #030303;
}

div#configTabs li.selTab {
    background: #9DACC1;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDDDDD,endColorstr=#CCCCCC)";
    background: -webkit-gradient(linear, left top, left bottom, from(#DDD), to(#CCC));
    background:	-moz-linear-gradient(top, #DDD, #CCC);
    border-top-left-radius: 	5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 	5px;
    -moz-border-radius-topright: 5px;
    border-right: 1px solid #979797;
    height: 16px;
    margin-left: -5px;
    margin-right: -5px;
    color: #030303;
    z-index: 3;
}

div#configTabs #tabInt {
    margin-left: 0;
}

div#configTabs #tabNotify {
    margin-right: 0;
}

div#configTabs .toggleConfigTab {
    position: relative;
    float: left;
    width: 57px;
    margin: 5px 0 0 0;
    padding: 1px 3px 2px 5px;
    background: #bbb;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCCCCC,endColorstr=#BBBBBB)";
    background: -webkit-gradient(linear, left top, left bottom, from(#CCC), to(#BBB));
    background:	-moz-linear-gradient(top, #ccc, #bbb);
    border: 1px solid #979797;
    border-right: 0;
    border-bottom: 0;
    height: 15px;
    font-size: 0.8em;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

div#configTabs .left {
    border-top-left-radius: 	5px;
    -moz-border-radius-topleft: 5px;
}

div#configTabs .right {
    border-right: 1px solid #979797;
    border-top-right-radius: 	5px;
    -moz-border-radius-topright: 5px;
}

div#configDialog .dialogTitle {
    padding-top: 2px;
    margin-left: -231px;
    width: 473px;
}

div#configuration {
    margin-left: -231px;
    float: left;
    width: 463px;
}

div#configuration div.config_form input.text,
div#configuration div.config_form input.password,
div#configuration div.config_form input[type=text],
div#configuration div.config_form input[type=password] {
    width: 270px;
    padding-left: 3px;
}

div#configuration div.config_form select {
    width: 277px;
}

div#configuration div.config_form input[type=checkbox] {
    left: 150px;
}

div.config_form {
    border: 1px solid #979797;
    border-top: 0;
    background-color: #eee;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCCCCC,endColorstr=#F8F8F8)";
    background: -webkit-gradient(linear, left top, left bottom, from(#CCC), to(#F8F8F8));
    background:	-moz-linear-gradient(top, #CCC, #F8F8F8);
    padding: 0;
    margin: 0 0 0 0 ;
}

div.config_form .left {
    width: 167px;
}

form#config_form div {
    min-height: 22px;
}

form#config_form div.configTab {
    padding: 5px 0 5px 0; 
}

div#config_feeds {
    padding-top: 5px;
}

div#config_feeds #feedItems {
    max-height: 280px;
    overflow: auto;
}

div#addFeed {
    border-bottom: 1px solid #979797;
    padding-bottom: 5px;
}

div#feedItemTitles {
    margin: 3px 0 5px 7px;
}

div#feedNameUrl {
    margin-left: 0;
    float: left;
    width: 315px;
}

div#addFeed input.feed_link[type=text] {
    width: 310px;
    margin: 0 0;
    padding: 1px 3px;
    left: 87px;
}

div#addFeed a.button {
    margin: 0 10px 0 0;
    padding: 1px 0 3px 0;
}


div#config_feeds div.feeditem {
    height: 35px;
}

div#config_feeds div.feeditem label.item {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    width: auto;
    padding: 5px;
}

div#config_feeds div.feeditem input[type=text] {
    width: 296px;
    margin: 3px 0;
    padding: 1px 3px 1px 3px;
    left: 0px;
    font-size: 0.9em;
}

div#config_feeds div.feeditem input.feed_url[type=text],
div#config_feeds div.feeditem input.feed_name[type=text] {
    margin: 1px 3px 1px 10px;
}

div#config_feeds div.feeditem input.seed_ratio[type=text] {
    width: 2em;
    margin-left: 6px;
}

div#config_feeds div.feeditem a.button {
    width: 30px;
    margin: 3px 10px 0 0;
    padding: 3px 0 3px 0;
}

div#config_feeds div.feeditem a.button#Update {
    margin-right: 5px;
}

div#showURL {
    padding: 5px 0 5px 0;
    border-top: 1px solid #979797;
}

div#showURL input[type=checkbox] {
    margin-left: 10px;
}

div#configuration div.config_form input#hideSearchText {
    border: 0;
    border-top: 1px solid #979797;
    width: 438px !important;
    height: 18px;
    margin: 0;
    padding: 1px 3px 0 20px;
    background: #FFF url('../images/filter_icon.png') top left no-repeat;
    font-size: 0.8em;
}

div#hideListContainer {
    max-height: 300px;
    overflow: auto;
}

div#hideListContainer ul.hidelist li {
    overflow: hidden;
}

div#hideListContainer ul.hidelist li:hover {
    background-color: #9DACC1;
    color: #FFF;
}

div#linkButtons  {
    float: right; 
}

div#configButtons {
    padding-top: 20px !important;
}

/***********************************
 *
 * F A V O R I T E S   D I A L O G
 *
 **********************************/

div#favorites {
    width: 590px;
    margin-left: -287px;
    height: 247px;
    padding-top: 5px;
}

div#favDialog .dialogTitle {
    padding-top: 2px;
    width: 600px;
    margin-left: -287px;
}

div.favorite {
    height: 245px;
    width: 190px;
    float: left;
    clear: left;
    border: 1px solid #979797;
    padding: 0;
    background-color: #eee;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D3D3D3,endColorstr=#F8F8F8)";
    background: -webkit-gradient(linear, left top, left bottom, from(#D3D3D3), to(#F8F8F8));
    background:	-moz-linear-gradient(top, #D3D3D3, #F8F8F8);
}

ul.favorite {
    height: 245px;
    font-size: 120%;
    overflow: auto;
}

div.favinfo {
    height: 245px;
    float: right;
    clear: right;
    border: 1px solid #979797;
    padding: 0px 0 0px 5px;
    width: 380px;
    background-color: #eee;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D3D3D3,endColorstr=#F8F8F8)";
    background: -webkit-gradient(linear, left top, left bottom, from(#D3D3D3), to(#F8F8F8));
    background:	-moz-linear-gradient(top, #D3D3D3, #F8F8F8);
}

div.favinfo .right {
    vertical-align: top;
}

div.favinfo .left {
    width: 90px;
    vertical-align: top;
}

ul.favorite li {
    padding-left: 26px;
    padding-bottom: 4px;
    overflow: hidden;
    cursor: pointer;
    /*background: url(../images/favorites.png) no-repeat left center;
    background-position: 5px;*/
    height: 20px;
}

ul.favorite li a {
    vertical-align: middle;
    font-size: 0.8em;
    text-decoration: none;
    color: #000000;
    overflow: hidden;
}

ul.favorite li:hover {
    background-color: #9DACC1;
}

ul.favorite li:hover a {
    color: #FFF;
}

form.favinfo {
    height: 248px;
    display: none;
    padding: 5px 0;
    margin: 5px 0;
    width: 380px;
    float: right;
}
form.favinfo div {
    height: 24px;
}

form.favinfo #mode,
form.favinfo input#idx {
    display: none;
}

form.favinfo select {
    position: absolute;
    right: 15px;
    width: 272px;
}

form.favinfo input.text,
form.favinfo input[type=text] {
    position: absolute;
    right: 15px;
    width: 270px;
}

form.favinfo div.favorite_seed_and_episode {
    position: absolute;
    float: right;
    right: 25px;
    width: 360px;
}

form.favinfo label.lastSeason {
    position: absolute;
    right: 55px;
    top: 2px;
    margin-left: 0;
}

form.favinfo label.lastEpisode{
    position: absolute;
    right: 20px;
    top: 2px;
    margin-left: 0;
}

form.favinfo input.seedratio[type=text] {
    position: absolute;
    right: 240px;
    width: 20px;
    text-align: center;
}

form.favinfo input.lastSeason[type=text] {
    position: absolute;
    right: 30px;
    width: 20px;
    text-align: center;
}

form.favinfo input.lastEpisode[type=text] {
    position: absolute;
    right: -10px;
    width: 25px;
    text-align: center;
}

div.favinfo div.buttonContainer {
    position: absolute;
    top: 210px;
    right: 75px;
}

div#favClose {
    right: 3px;
}

/******************************
 *
 * H I S T O R Y   D I A L O G
 *
 *****************************/
div#history {
    padding: 0;
    height: 257px;
    width: 583px;
    margin-left: -288px;
    border-top: 1px solid #979797;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D3D3D3,endColorstr=#F8F8F8)";
    background: -webkit-gradient(linear, left top, left bottom, from(#D3D3D3), to(#F8F8F8));
    background:	-moz-linear-gradient(top, #D3D3D3, #F8F8F8);
}

ul#historyItems li {
    margin-right: 7px;
}

div#historyDialog .dialogTitle {
    padding-top: 2px;
    width: 583px;
    margin-left: -288px;
}

ul#historyItems {
    top: 0;
    bottom: 35px;
    left: 0;
    right: 0;
    height: 217px;
    overflow: auto;
    border-bottom: 1px solid #979797;
    padding: 2px 0 0 10px;
}

div#history ul li{
    white-space: nowrap;
    overflow: visible; /* was hidden, but this cuts off long titles */
    font-size: 0.9em
}


div#history a {
    bottom: 0.2em;
}

div#history a#clearhistory {
    right: 0;
}

div#clear_cache a.toggleDialog {
    margin-right: 20px;
}

div#history a.toggleDialog {
    right: 6.5em;
}
