/*-----------------
 * G L O B A L
 * ---------------*/
html {
    overflow: hidden;
}

body {
    font: 85% "lucida grande", Tahoma, Verdana, Arial, Helvetica, sans-serif;
    color: #323232;
    text-align: left;
    overflow: hidden;
    height: 100%;
}

input, select {
    margin-left: 5px;
}

select {
    border: 1px solid #787878;
}

input[type=text] {
    border: 1px solid #787878;
    margin-left: 5px;
}

input[type=password] {
    border: 1px solid #787878;
    margin-left: 5px;
}

input[type=hidden] {
    display: none;
}

input[type=checkbox] {
    margin-top: 2px;
}

label {
    display: inline;
    font-size: 0.9em;
    margin-left: 5px;
}

div.left,
div.right {
    display: inline-block;
}

div.left {
    text-align: right;
}

div.right {
    text-align: left;
}

label.category {
    display: block;
    font-size: 1.0em;
    margin: 1em 0 1em 1em;
    font-weight: bold;
}

.hidden {
    display: none;
}

.strikethrough {
    text-decoration: line-through;
}

/*-----------------
 * T O P   M E N U
 * ----------------*/
#topmenu {
    height: 59px;
    width: 100%;
    position: fixed;
    text-align: right;
    border: 1px solid #aaa;
    border-top: 0;
    background: #ddd;
    z-index: 3;
}

#torrentwatch-xaLogo {
    padding-right: 13px;
}

#twxaLogo {
    vertical-align: middle;
    margin-right: 3px;
}

#mainoptions li {
    list-style:	none inside none;
    display: block;
    float: left;
    padding-top: 3px;
    margin-right: 0;
}

#mainoptions a {
    display: block;
    margin: 0 0 0 1px;
    padding: 4px 8px 1px 8px;
    height: 17px;
    text-decoration:none;
    color: #111;
    font-size: 8pt;
}

#mainoptions a:hover {
    background: #E8E8E8;
}

#mainoptions a.selected {
    background: #ccc;
}

#mainoptions #webui {
    display: none;
    float: right;
    margin-right: 10px;
}

#mainoptions #webui .icon {
    display: block;
    height: 16px;
    width: 16px;
    margin-right: 2px;
    background-repeat: no-repeat;
    float: left;
    background-image: url(../images/webui.png);
}
#mainoptions #webui .altIcon {
    background-image: url(../images/ajax-loader-small.gif);
}

/*-----------------
 * F I L T E R   B A R
 * ---------------*/
#filterbar_container {
    top: 29px;
    position: fixed;
    height: 30px;
    left: 0;
    right: 0;
    padding-left: 10px;
}

#filterbar_container li.tab:hover {
    width: 90px;
}

#filterbar_container li.selected:hover,
#filterbar_container li.tab {
    width: 91px;
}

#filterbar_container li {
    float: left;
    margin-top: 2px;
    padding: 4px 7px 0 7px;
    height: 18px;
    text-align: center;
    font-size: 11px;
    background: #d8d8d8;
    border-top: 1px solid #e3e3e3;
    border-left: 0;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    color: #111;
    cursor: pointer;
}

#filterbar_container li:hover {
    background: #e8e8e8;
    border: 1px solid #b6b6b6;
    border-right: 1px solid #c5c5c5;
    border-bottom: 1px solid #ccc;
    height: 18px;
}

#filterbar_container li.selected:hover,
#filterbar_container li.selected {
    border-top: 1px solid #888;
    border-left: 0;
    background: #ccc;
    border: 1px solid #999;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #d3d3d3;
    -moz-border-radius-bottomleft: 1px;
    border-bottom-left-radius: 1px;
    -moz-border-radius-bottomright: 1px;
    border-bottom-right-radius: 1px;
    height: 18px;
}

#filterbar_container #refresh {
    width: 20px;
    padding-left: 4px;
    padding-right: 4px;
}

#filterbar_container #refresh:hover {
    padding-left: 3px;
}

#filterbar_container #refresh img {
    margin-top: -1px;
}

#filterbar_container li.filter_left:hover,
#filterbar_container li.filter_left {
    border-left: 1px solid #e3e3e3;
    -moz-border-radius-topleft: 1px;
    border-top-left-radius: 1px;
    -moz-border-radius-bottomleft: 1px;
    border-bottom-left-radius: 1px;
}

#filterbar_container li.filter_left:hover,
#filterbar_container li.filter_left.selected {
    border-left: 2px solid #ccc;
}

#filterbar_container li.filter_right {
    -moz-border-radius-topright: 1px;
    border-top-right-radius: 1px;
    -moz-border-radius-bottomright: 1px;
    border-bottom-right-radius: 1px;
}

#filterbar_container li a {
    text-decoration: none;
    color: #111;
}

#filterbar_container li.selected a {
    color: #111;
}

#filterbar_container li a.error {
    color: red;
}

#filterbar_container #Matching,
#filterbar_container #Downloaded,
#filterbar_container #Downloading,
#filterbar_container #activeTorrents {
    padding-left: 0.4em;
    font-size: 0.8em;
}

#filterbar_container #rates {
    background: none;
    margin-left: 10px;
    padding: 0;
    border: 0;
    float: left;
    font-size: 9px;
    text-align: left;
    color: #111;
    cursor: default;
}

#filterbar_container #filter_bytext:hover,
#filterbar_container #filter_bytext {
    background: none;
    float: right;
    margin: 0;
    padding: 4px 5px 0 0;
    border: 0;
    font-size: 0.8em;
}

#filter_search_input {
    float: right;
    height: 17px;
    width: 200px;
    border: 1px solid #5D80A1;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #FFF url('../images/search_32x32.png') top left no-repeat;
    background-size: 14px 14px;
    padding: 1px 2px 2px 18px;
    margin: 1px 5px 1px 0;
}

/*----------------------------------------
 * C L I E N T   B U T T O N S
 *---------------------------------------*/
#clientButtonsHolder {
    display: none;
    position: fixed;
    top: 72px;
    right: 20px;
    min-height: 28px;
    font-size: 12px;
    background: #ddd;
    opacity: .90;
    border: 1px solid #aaa;
    -moz-border-radius: 2px;
    border-radius: 2px;
    z-index: 3;
}

#clientButtons {
    height: 100%;
    background: #ddd;
    padding-left: 10px;
    padding-right: 5px;
}

#clientButtonsBusy {
    margin-top: 5px;
    font-size: 14px;
}

#clientButtonsBusy img {
    float: left;
    cursor: pointer;
    margin-right: 5px;
}
#clientButtons li {
    float: left;
    cursor: pointer;
    margin-top: 3px;
    margin-right: 5px;
}

#clientButtons li img {
    opacity: .80;
}

#clientButtons #Move {
    padding: 1px 4px 0 4px;
    font-size: 14px;
    height: 19px;
}

#clientButtons li.move_data input {
    border: 1px solid #aaa;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 12px;
    height: 20px;
    width: 300px;
    margin: 0 0 3px 0;
    padding: 0 5px 0 3px;
}

#clientButtons li.button {
    height: 20px;
    border: 1px solid #aaa;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    font-size: 11px;
    color: #323232;
    padding: 0 5px 0 5px;
}

#clientButtons li.button .start,
#clientButtons li.button .resume,
#clientButtons li.button .pause,
#clientButtons li.button .delete,
#clientButtons li.button .trash,
#clientButtons li.button .move_button,
#clientButtons li.close .hidden
{}

#clientButtons li.disabled,
#clientButtons li.disabled:hover {
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    background-color: transparent;
    cursor: default;
    opacity: .30;
}

#clientButtons li.button:hover:not(.disabled) {
    background-color: #D1D1D1;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
}

/*------------
 * L E G E N D
 *------------*/
#legendDialog .dialogTitle {
    padding-top: 2px;
    width: 470px;
}

#show_legend {
    padding-top: 5px;
    border-top: 1px solid #979797;
    background: #F8F8F8;
}

ul.show_legend {
    border: 1px solid #979797;
}

ul.show_legend li {
    padding: 5px 5px 5px 5px;
    font-size: 12px;
}

/*-------------------------
 * T O R R E N T   L I S T
 * ------------------------*/
#torrentlist_container {
    display: none;
    position: absolute;
    overflow: auto;
    width: 100%;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#torrentlist_container div.errorHeader {
    font-size: 14px;
    text-align: center;
    padding-bottom: 3px;
    background: #fdd; /* was #C1E0C1 */
    /*color: #D6001A;*/
    border-bottom: 1px solid #ddd;
}

#torrentlist_container div.header {
    font-size: 14px;
    padding-bottom: 1px;
    text-align: center;
    background: #D1F0D1;
    border-top: 1px solid #d9f8d9;
    border-bottom: 1px solid #bbe5bb;
}

#torrentlist_container div.header_hidden {
    color: #999;
}

#torrentlist_container div.header td.hide_feed {
    text-align: center;
    width: 18px;
}

#torrentlist_container div.header td.feed_title {
    text-align: center;
}

#torrentlist_container div.header td.feed_title span.matches {
    color: #666;
    margin-left: 0.5em;
    font-size: 14px;
}

#torrentlist_container div.header_hidden td.feed_title span {
    color: #999;
}

#torrentlist_container ul.torrentlist {
    border-bottom: 1px solid #e8e8e8;
}

ul.torrentlist li.torrent {
    font-size: 12px;
    min-height: 15px;
}

#transmission_list td.torrent_name {
    padding-left: 5px;
}

#torrentlist_container li.torrent.alt {
    background-color: #fbfefc;
}

#torrentlist_container li.torrent:hover,
#transmission_list li.alt td.torrent_name:hover {
    background-color: #E1E9F5;
}

#torrentlist_container li.selected td.torrent_name,
#torrentlist_container li.selected td.torrent_name:hover,
#torrentlist_container li.alt.selected td.torrent_name,
#torrentlist_container li.alt.selected td.torrent_name:hover {
    background-color: #778DA8;
    color: #FFFFFF;
}

li.torrent.hidden_bytext {
    display: none;
}

ul.torrentlist td.identifier {
    width: 5px;
}

ul.torrentlist td.tr_identifier {
    width: 5px;
}

/* Not a Match */
#show_legend li.legend.st_notAMatch,
ul.torrentlist li.st_notAMatch td.identifier {
    background-color: #f2f2f2;
}

/* Ignored Favorite Batch */
#show_legend li.legend.st_ignoredFavBatch,
ul.torrentlist li.st_ignoredFavBatch td.identifier {
    background-color: #dea3ed;
}

/* Old Favorite */
#show_legend li.legend.st_favTooOld,
ul.torrentlist li.st_favTooOld td.identifier {
    background-color: #a7b4ff;
}

/* Favorite Ready */
#show_legend li.legend.st_favReady,
ul.torrentlist li.st_favReady td.identifier {
    background-color: #ffc166;
}

/* Waiting (transient state) */
#show_legend li.legend.st_waitTorCheck,
ul.torrentlist li.st_waitTorCheck td.identifier,
#transmission_list li.torrent.tc_waiting .tr_identifier {
    background-color: #ffffbb;
}

/* Downloading */
#show_legend li.legend.st_downloading,
ul.torrentlist li.st_downloading td.identifier,
#transmission_list li.torrent.tc_downloading .tr_identifier {
    background-color: #a1e8c8;
}

/* Downloaded / Seeding */
#show_legend li.legend.st_downloaded,
ul.torrentlist li.st_downloaded td.identifier,
ul.torrentlist li.st_transmission td.tr_identifier,
#transmission_list li.torrent.tc_seeding .tr_identifier {
    background-color: #49dded;
}

/* Previously Downloaded */
#show_legend li.legend.st_inCacheNotActive,
ul.torrentlist li.st_inCacheNotActive td.identifier,
ul.torrentlist li.st_inCache td.identifier {
    background-color: #bbb;
}

/* Verifying */
#transmission_list li.torrent.tc_verifying .tr_identifier {
    background-color: #d8a8d8;
}

/* Paused (place this last to override other ul.torrentlist states) */
#show_legend li.legend.tc_paused,
ul.torrentlist li.tc_paused td.identifier,
#transmission_list li.torrent.tc_paused .tr_identifier {
    background-color: #FBBFBF;
}

ul.torrentlist td.torrent_name {
    padding: 2px 5px 2px 5px;
}

ul.torrentlist li.st_notAMatch td.torrent_name {
    vertical-align: middle;
    margin: 0;
    height: 15px;
}

ul.torrentlist td.torrent_name.tor_client {
    padding: 2px 8px 0 0;
}

ul.torrentlist div.infoDiv {
    height: 12px;
    display: block;
    color: green;
    font-size: 9px;
    margin: 2px 0 0 0;
    width: 100%;
}

#torrentlist_container li.selected div.infoDiv {
    color: #FFFFFF;
}

ul.torrentlist .torInfo {
    float: left;
}

ul.torrentlist .torEta {
    float: right;
}

ul.torrentlist .torInfoErr {
    color: red;
    font-size: 9px;
    margin: 1px 0 1px 0;
}

div.torrent_name a.contextButton {
    background: #F8F8F8;
    background-image: url('../images/dropdown.png');
    background-repeat: no-repeat;
    background-position: 0 2px;
    float: left;
    border: 1px solid #ddd;
    -moz-border-radius: 1px;
    border-radius: 1px;
    padding: 0;
    margin: 2px 5px 0 0;
    width: 11px;
    height: 10px;
}

div.contextMenu {
    display: none;
    position: absolute;
    margin: 1px 0 0 0;
    border: 1px solid #aaa;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background: #fafafa;
    font-size: 0.9em;
    opacity: .95;
    z-index: 2;
}

div.contextMenu div {
    padding: 1px 3px 1px 15px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

div.contextMenu .contextItem.alt {
    background-color: #BFCEE3;
}

div.contextMenu .addFavorite {
    background: url(../images/tor_fav_20x20.png) no-repeat left center;
    background-size: 10px 10px;
    background-position: 2px 3px;
}
div.contextMenu .torStart {
    background: url(../images/tor_start_20x20.png) no-repeat left center;
    background-size: 10px 10px;
    background-position: 2px 3px;
}
div.contextMenu .hideItem {
    background: url(../images/tor_hide_20x20.png) no-repeat left center;
    background-size: 10px 10px;
    background-position: 2px 3px;
}
div.contextMenu .torResume {
    background: url(../images/tor_resume_20x20.png) no-repeat left center;
    background-size: 10px 10px;
    background-position: 2px 3px;
}
div.contextMenu .torPause {
    background: url(../images/tor_pause_20x20.png) no-repeat left center;
    background-size: 10px 10px;
    background-position: 2px 3px;
}
div.contextMenu .torDelete {
    background: url(../images/tor_stop_20x20.png) no-repeat left center;
    background-size: 10px 10px;
    background-position: 2px 3px;
}
div.contextMenu .torTrash {
    background: url(../images/tor_trash_20x20.png) no-repeat left center;
    background-size: 10px 10px;
    background-position: 2px 3px;
}
div.contextMenu .torMove {
    background: url(../images/tor_move_20x20.png) no-repeat left center;
    background-size: 10px 10px;
    background-position: 2px 3px;
}

td.torrent_name {
    font-size: 12px;
    vertical-align: top;
    padding-left: 5px;
}

td.progressRow {
    background: #C1E0C1;
}

div.progressBarContainer {
    display: block;
    border: 1px solid #BFCEE3;
    background: #DFE3E8;
    margin-top: 2px;
}

div.progressBarContainer.init {
    border: none;
    background: none;
}

div.progressDiv {
    height: 3px;
    background: #91A4BD;
}

td.feed_info {
    float: right;
    text-align: right;
    padding-right: 2px;
    margin-top: 5px;
    vertical-align: middle;
}

div.tr_bar {
    float: right;
    padding: 4px 30px 0 0;
    vertical-align: middle;
}

div.feed_info p {
    padding: 0;
}

div.torrent_name {
    display: block;
    padding: 0;
    height: 15px;
    width: 100%;
}

div.torrent_name .torrent_title {
    float: left;
}

span.feed_name {
    float: left;
    padding: 1px 3px 0 0;
    font-size: 9px;
    color: #777777;
}

.debugLabel {
    color: #000;
    color: rgba(0, 0, 0, 0.3);
    font-size: 9px;
    padding: 0 0 0 1em;
}

span.episodeNum {
    padding: 0 0 0 1em;
}

span.pubDate {
    padding: 0 0 0 1em;
}

span.torrent_pubDate {
    float: right;
    padding-top: 2px;
    font-size: 10px;
}

span.hide_item img {
    border: 1px solid #b0b0b0;
}

div.header span.hide_feed_left,
div.header span.hide_feed_right {
    margin: 5px 0 5px 0;
    background: url(../images/arrow-down.png) no-repeat left center;
}

div.header_hidden span.hide_feed_left {
    background: url(../images/arrow-right.png) no-repeat left center;
}

div.header_hidden span.hide_feed_right {
    background: url(../images/arrow-left.png) no-repeat left center;
}

#footer {
    padding: 1px;
    background-color: #DDD;
    font-size: 10px;
    text-align: center;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #aaa;
}

#footerLogo {
    vertical-align: middle;
}

#donate {
    padding-top: 3px;
    text-align: center;
}

/*-----------------------------
 * T O R R E N T   C L I E N T
 * ----------------------------*/
#transmissionDialog {
    display: inline;
}

#transmissionDialog .dialogTitle {
    padding-top: 2px;
    top: 50px;
    width: 800px;
    margin-left: -400px;
}

#transmissionWindow {
    width: 800px;
    height: 550px;
    top: 71px;
    margin-left: -400px;
    padding: 0;
    border: 1px solid #979797;
}

#transmissionFrame {
    width: 800px;
    height: 550px;
}


/*--------------------------
 * D I A L O G S
 * ---------------------*/

div.dialog {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 29px;
    bottom: 0;
    background: transparent;
    /*zoom: 1;*/
    transform: scale(1);
    transform-origin: 0 0;
    background-color: #bbb;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: wait;
    padding-top: 60px;
    border-top: 1px solid #000;
    z-index: 4;
}

div.dialog.confirm {
    top: 0;
}

div.dialog_window {
    position: fixed;
    margin-right: auto;
    left: 50%;
    background-color: #DDD;
    margin: -0.2em auto 0 auto;
    border-left: 1px solid #979797;
    border-right: 1px solid #979797;
    border-bottom: 1px solid #979797;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    border-bottom-right-radius: 2px;
    top: 140px;
    width: 460px;
    margin-left: -230px;
    padding: 0 5px 5px 5px;
    cursor: default;
    z-index: 5;
}

.dialogTitle a.button {
    float: left;
    height: 9px;
    width: 9px;
    padding: 0;
    margin: 1px 3px 2px 3px;
    background: #b99;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    cursor: default;
}

.dialogTitle a.button:hover {
    background: #faa;
}

div.dialog .dialogTitle {
    position: fixed;
    font-size: 8pt;
    padding: 2px 0 2px 0;
    text-align: center;
    margin-left: -230px;
    background-color: #aaa;
    border: 1px solid #979797;
    -moz-border-radius-topleft: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-topright: 2px;
    border-top-right-radius: 2px;
    color: #000;
    text-shadow: #bbb 0 1px 0;
    top: 118px;
    height: 15px;
    left: 50%;
    cursor: default;
}

#clear_cache {
    position: fixed;
    width: 320px;
    margin-left: -160px;
    text-align: center;
    border-top: 1px solid #979797;
    background: #DDD;
}

#clear_cache a.toggleDialog {
    margin-right: 20px;
}

#trash_tor_data {
    position: absolute;
    font-size: 0.85em;
    width: 300px;
    padding-top: 5px;
    margin-left: -150px;
    text-align: center;
    border: 1px solid #979797;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #DDD;
}

#trash_tor_data .buttonContainer {
    font-size: 12px;
    margin-right: 18px;
}

#trash_tor_data .buttonContainer a.wide {
    width: 110px;
}

#cacheDialog .dialogTitle {
    padding-top: 2px;
    margin-left: -160px;
    width: 330px;
}

h2.dialog_heading {
    font-size: 1.3em;
    text-align: center;
}

div.buttonContainer {
    margin-top: 2px;
    float: right;
}

a.button,
input[type=submit] {
    float: right;
    margin: 5px 0 0 6px;
    padding: 0.5em;
    background-color: #EEE;
    border: 1px solid #787878;
    font-size: 0.8em;
    color: #323232;
    clear: left;
    cursor: pointer;
}

a.button {
    width: 50px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background:	#ccc;
    color: #030303;
}

a.button:hover{
    background: #9DACC1;
}

a.disabled,
a.disabled:hover {
    background: #9DACC1;
    color: #ddd;
}
input[type=submit] {
    width: 62px;
    height: 28px;
}

div.legend input {
    clear: left;
}

#clientError {
    top: 0;
    text-align: center;
    width: 350px;
    margin-left: 80px;
    color: black;
    background: #fdd;
    z-index: 100;
    display: none;
}

#clientError p {
    margin-top: 4px;
}

#clientError h2 {
    font-weight: bold;
    color: red;
    margin-bottom: 4px;
}

#errorDialog {
    top: 62px;
    color: black;
    background-color: #fdd;
    text-align: left;
    width: 700px;
    margin-left: -350px;
    z-index: 100;
}

#successDialog {
    top: 55px;
    color: green;
    border: 1px solid green;
    text-align: center;
    width: 600px;
    margin-left: -310px;
    z-index: 100;
}

#newVersion {
    top: 0;
    text-align: center;
    padding-top: 5px;
    width: 450px;
    margin-left: 25px;
    color: green;
    background: #eee;
    z-index: 100;
}

#newVersion a {
    color: green;
}

#twError {
    display: none;
    top: 32px; /* TODO maybe try 0px */
    color: red;
    background-color: #bbb;
    text-align: center;
    z-index: 100;
    border-color: #AAA;
}

/***************************
 * P R O G R E S S   B A R
 ***************************/
.progress {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 60px;
    cursor: wait;
    z-index: 99;
}

.progress_full {
    background:transparent;
    /*zoom: 1;*/
    transform: scale(1);
    transform-origin: 0 0;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
}

#progressbar {
    background: #DBDBDB url('../images/ajaxload.gif') no-repeat center bottom;
    border-top: 1px solid #979797;
    -moz-border-radius-topleft: 2px;
    border-top-left-radius:     2px;
    -moz-border-radius-topright: 2px;
    border-top-right-radius:    2px;
    display: block;
    height: 14px;
    top: 148px;
    overflow: hidden;
    width: 250px;
    z-index: 99;
    margin-left: -125px;
}

.progressbar .dialog_window {}

/*****************************
 * C O N F I G   D I A L O G
 ****************************/
#configTabs {
    height: 26px;
    border-bottom: 1px solid #979797;
}

#configTabs ul {
    margin: 0 0 0 0;
    padding: 2px 0 2px 0;
    text-align: center;
}

#configTabs li:hover {
    background: #9DACC1;
    color: #030303;
}

#configTabs li.selTab {
    background: #9DACC1;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 	5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 	5px;
    border-right: 1px solid #979797;
    height: 16px;
    margin-left: -5px;
    margin-right: -5px;
    color: #030303;
    z-index: 3;
}

#configTabs #tabInt {
    margin-left: 0;
}

#configTabs #tabNotify {
    margin-right: 0;
}

#configTabs .toggleConfigTab {
    position: relative;
    float: left;
    width: 57px;
    margin: 5px 0 0 0;
    padding: 1px 3px 2px 5px;
    border: 1px solid #ccc;
    border-right: 0;
    border-bottom: 0;
    height: 15px;
    font-size: 0.8em;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#configTabs .left {
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 	5px;
}

#configTabs .right {
    border-right: 1px solid #979797;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 	5px;
}

#configDialog .dialogTitle {
    padding-top: 2px;
    margin-left: -231px;
    width: 473px;
}

#configuration {
    margin-left: -231px;
    float: left;
    width: 463px;
}

#configuration .config_form_container input.text,
#configuration .config_form_container input.password,
#configuration .config_form_container input[type=text],
#configuration .config_form_container input[type=password] {
    width: 270px;
    padding-left: 3px;
}

#configuration .config_form_container select {
    width: 277px;
}

#configuration .config_form_container input[type=checkbox] {
    left: 150px;
}

.config_form_container {
    border: 1px solid #979797;
    border-top: 0;
    background-color: #eee;
    padding: 0;
    margin: 0 0 0 0;
}

.config_form_container .left {
    width: 167px;
}

#config_form div {
    min-height: 22px;
}

#config_form div.configTab {
    padding: 5px 0 5px 0;
}

#config_feeds {
    padding-top: 5px;
}

#config_feeds #feedItemTitles {
    font-size: 0.9em;
    border-bottom: 1px solid #979797;
    padding-bottom: 3px;
}

#config_feeds #feedItems {
    max-height: 280px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#config_feeds div.feedURLName {
    display: table-cell;
    width: 325px;
}

#config_feeds #feedURLNameLabel {
    padding-left: 5px;
}

#config_feeds div.feedOn {
    width: 30px;
    display: table-cell;
    text-align: center;
    vertical-align: text-top;
}

#config_feeds div.seedRatio {
    width: 40px;
    display: table-cell;
    text-align: center;
    vertical-align: text-top;
}

#config_feeds div.feedDelete {
    width: 40px;
    display: table-cell;
    text-align: center;
    vertical-align: text-top;
}

#config_feeds div.feeditem {
    height: 74px;
    display: table-row;
}

#config_feeds div.feeditem input[type=text] {
    font-size: 0.9em;
}

#config_feeds div.feeditem input.feed_url[type=text],
#config_feeds div.feeditem input.feed_name[type=text],
#config_feeds div.feeditem input.feed_website[type=text] {
    width: 308px;
    margin: 4px 5px 0 5px;
}

input.feed_on_off {
    margin: 0 0 0 0;
}

#config_feeds div.feeditem input.seed_ratio[type=text] {
    width: 2em;
    margin: 0 0 0 0;
}

input.feed_delete {
    margin: 0 0 0 0;
}

#configuration .config_form_container input#hideSearchText {
    border: 0;
    border-top: 1px solid #979797;
    width: 438px;
    height: 18px;
    margin: 0;
    padding: 1px 3px 0 20px;
    background: #FFF url('../images/search_32x32.png') top left no-repeat;
    background-size: 17px 17px;
    font-size: 0.9em;
}

#hidelistContainer {
    max-height: 300px;
    overflow: auto;
}

#hidelistContainer ul.hidelist li {
    overflow: hidden;
}

#hidelistContainer ul.hidelist li:hover {
    background-color: #9DACC1;
    color: #FFF;
}

#script {
    padding-bottom: 5px;
}

#enableSMTP {
    border-top: 1px solid #979797;
    padding-top: 5px;
}

div.smtpTestLeft {
    vertical-align: top;
}

div.smtpTestRight {
    width: 277px;
    padding: 10px 0 3px 3px;
    font-size: 0.9em;
    word-break: break-all;
}

/***********************************
 * S U P E R - F A V O R I T E S   D I A L O G
 **********************************/
#superfavorites {
    width: 590px;
    margin-left: -287px;
    height: 267px;
    padding-top: 5px;
}

#superfavDialog .dialogTitle {
    padding-top: 2px;
    width: 600px;
    margin-left: -287px;
}

div.superfavorite {
    height: 265px;
    width: 198px;
    float: left;
    clear: left;
    border: 1px solid #979797;
    padding: 0;
    background-color: #eee;
}

ul.superfavorite {
    height: 265px;
    font-size: 120%;
    overflow: auto;
}

div.superfavinfo {
    height: 265px;
    float: right;
    clear: right;
    border: 1px solid #979797;
    padding: 0 0 0 5px;
    width: 380px;
    background-color: #eee;
}

div.superfavinfo .right {
    vertical-align: top;
}

div.superfavinfo .left {
    width: 90px;
    vertical-align: top;
}

ul.superfavorite li {
    padding-left: 6px;
    padding-right: 3px;
    padding-bottom: 4px;
    word-break: break-all;
    overflow: hidden;
    cursor: pointer;
    height: 20px;
}

ul.superfavorite li a {
    vertical-align: middle;
    font-size: 0.8em;
    text-decoration: none;
    color: #000;
    overflow: hidden;
}

ul.superfavorite li:hover {
    background-color: #9DACC1;
}

ul.superfavorite li:hover a {
    color: #FFF;
}

form.superfavinfo {
    display: none;
    padding: 5px 0;
    margin: 5px 0;
    width: 380px;
    float: right;
}
form.superfavinfo div {
    height: 24px;
}

form.superfavinfo #mode,
form.superfavinfo input#idx {
    display: none;
}

form.superfavinfo select {
    width: 272px;
}

form.superfavinfo input.text,
form.superfavinfo input[type=text] {
    width: 270px;
}

form.superfavinfo div.superfavorite_seed {
    float: right;
    width: 380px;
}

form.superfavinfo input.seedratio[type=text] {
    width: 34px;
    text-align: center;
}

div.superfavinfo div.buttonContainer {
    position: absolute;
    top: 230px;
    right: 82px;
}

#superfavClose {
    right: 13px;
}

/***********************************
 * F A V O R I T E S   D I A L O G
 **********************************/
#favorites {
    width: 590px;
    margin-left: -287px;
    height: 267px;
    padding-top: 5px;
}

#favDialog .dialogTitle {
    padding-top: 2px;
    width: 600px;
    margin-left: -287px;
}

div.favorite {
    height: 265px;
    width: 198px;
    float: left;
    clear: left;
    border: 1px solid #979797;
    padding: 0;
    background-color: #eee;
}

ul.favorite {
    height: 265px;
    font-size: 120%;
    overflow: auto;
}

div.favinfo {
    height: 265px;
    float: right;
    clear: right;
    border: 1px solid #979797;
    padding: 0 0 0 5px;
    width: 380px;
    background-color: #eee;
}

div.favinfo .right {
    vertical-align: top;
}

div.favinfo .left {
    width: 90px;
    vertical-align: top;
}

ul.favorite li {
    padding-left: 6px;
    padding-right: 3px;
    padding-bottom: 4px;
    word-break: break-all;
    overflow: hidden;
    cursor: pointer;
    height: 20px;
}

ul.favorite li a {
    vertical-align: middle;
    font-size: 0.8em;
    text-decoration: none;
    color: #000;
    overflow: hidden;
}

ul.favorite li:hover {
    background-color: #9DACC1;
}

ul.favorite li:hover a {
    color: #FFF;
}

form.favinfo {
    display: none;
    padding: 5px 0;
    margin: 5px 0;
    width: 380px;
    float: right;
}
form.favinfo div {
    height: 24px;
}

form.favinfo #mode,
form.favinfo input#idx {
    display: none;
}

form.favinfo select {
    width: 272px;
}

form.favinfo input.text,
form.favinfo input[type=text] {
    width: 270px;
}

form.favinfo div.favorite_seed_and_episode {
    float: right;
    width: 380px;
}

form.favinfo label.lastSeason {
    margin-left: 0;
    padding-left: 9px;
}

form.favinfo label.lastEpisode{
    margin-left: 0;
}

form.favinfo input.seedratio[type=text] {
    width: 34px;
    text-align: center;
}

form.favinfo input.lastSeason[type=text] {
    width: 40px;
    text-align: center;
}

form.favinfo input.lastEpisode[type=text] {
    width: 60px;
    text-align: center;
    margin-left: 0;
}

#favorite_new.favinfo input.lastEpisode[type=text] {
    width: 125px;
    text-align: center;
}

div.favinfo div.buttonContainer {
    position: absolute;
    top: 230px;
    right: 82px;
}

#favClose {
    right: 13px;
}

/******************************
 * H I S T O R Y   D I A L O G
 *****************************/
#history {
    padding: 0;
    height: 257px;
    width: 583px;
    margin-left: -288px;
    border-top: 1px solid #979797;
    background: #eee;
}

#historyItems li {
    margin-right: 7px;
    white-space: nowrap;
    overflow: visible;
    font-size: 0.9em
}

#historyDialog .dialogTitle {
    padding-top: 2px;
    width: 583px;
    margin-left: -288px;
}

#historyItems {
    top: 0;
    bottom: 35px;
    left: 0;
    right: 0;
    height: 217px;
    overflow: auto;
    border-bottom: 1px solid #979797;
    padding: 2px 0 0 10px;
}

#history a {
    bottom: 0.2em;
}

#clearhistory {
    right: 0;
}

#history .buttonContainer {
    padding-right: 6px;
}
